In [1]:
# Dependencies
from bs4 import BeautifulSoup
from splinter import Browser
import requests
import pandas as pd
import pymongo

# NASA Mars News

In [2]:
# Mars exploration program url
news_url = "https://mars.nasa.gov/news/"

# Retrieve page with the requests module
response = requests.get(news_url)

# Create BeautifulSoup object; parse with 'lxml'
soup = BeautifulSoup(response.text, 'lxml')

In [3]:
# Retrieve containers containing news title and description
results = soup.find("div", class_="image_and_description_container")

In [4]:
# Grab latest news title
news_title = results.find("img", class_="img-lazy")["alt"].strip()
print(news_title)

# Grab latest news description
news_p = results.find("div", class_="rollover_description_inner").get_text().strip()
print(news_p)

NASA Invests in Visionary Technology
NASA is investing in technology concepts, including several from JPL, that may one day be used for future space exploration missions.

# JPL Mars Space Images - Featured Image

In [5]:
# Chromedriver path
executable_path = {'executable_path': 'webdriver/chromedriver.exe'}

# Creat browser instance with context manager
with Browser('chrome', **executable_path, headless=True) as browser:
    
    # Visit JPL Mars space images url
    mars_imgs_url = "https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars"
    browser.visit(mars_imgs_url)
    
    # Maximize window
    browser.driver.maximize_window()
    
    # Latest image container xpath and click
    browser.find_by_xpath("//*[@id=\"page\"]/section[3]/div/ul/li[1]/a/div").click()

    # Retrieve featured image url
    featured_img_url = browser.find_by_css('img[class="fancybox-image"]')["src"]
    print(featured_img_url)

https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA22374_hires.jpg

# Mars Weather

In [6]:
# Mars weather twitter account url
mars_weather_url = "https://twitter.com/marswxreport?lang=en"

# Retrieve page with the requests module
response = requests.get(mars_weather_url)

# Create BeautifulSoup object; parse with 'lxml'
soup = BeautifulSoup(response.text, 'lxml')

In [7]:
# Retrieve all tweets
results = soup.find_all("p", class_="TweetTextSize TweetTextSize--normal js-tweet-text tweet-text")

In [8]:
# Grab latest Mars weather
for result in results:
    
    # Grab tweet
    mars_weather = result.get_text().strip()
    
    # Only get the first tweet that has Mars weather
    if mars_weather[:3] == "Sol":
        print(mars_weather)        
        break

Sol 2026 (April 18, 2018), Sunny, high -6C/21F, low -73C/-99F, pressure at 7.19 hPa, daylight 05:26-17:21

# Mars Facts

In [9]:
# Mars facts url
mars_facts_url = "https://space-facts.com/mars/"

# Read html to get tables
tables = pd.read_html(mars_facts_url)
tables

[                      0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.42 x 10^23 kg (10.7% Earth)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.52 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                  -153 to 20 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [10]:
# Grab mars facts table and create df
df = tables[0]
df.columns = ["Description", "Value"]
df

            Description                          Value
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.42 x 10^23 kg (10.7% Earth)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.52 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                  -153 to 20 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [11]:
# Convert to html string
html_table = df.to_html()

# Strip newlines
html_table = html_table.replace('\n', '')
html_table

'<table border="1" class="dataframe">  <thead>    <tr style="text-align: right;">      <th></th>      <th>Description</th>      <th>Value</th>    </tr>  </thead>  <tbody>    <tr>      <th>0</th>      <td>Equatorial Diameter:</td>      <td>6,792 km</td>    </tr>    <tr>      <th>1</th>      <td>Polar Diameter:</td>      <td>6,752 km</td>    </tr>    <tr>      <th>2</th>      <td>Mass:</td>      <td>6.42 x 10^23 kg (10.7% Earth)</td>    </tr>    <tr>      <th>3</th>      <td>Moons:</td>      <td>2 (Phobos &amp; Deimos)</td>    </tr>    <tr>      <th>4</th>      <td>Orbit Distance:</td>      <td>227,943,824 km (1.52 AU)</td>    </tr>    <tr>      <th>5</th>      <td>Orbit Period:</td>      <td>687 days (1.9 years)</td>    </tr>    <tr>      <th>6</th>      <td>Surface Temperature:</td>      <td>-153 to 20 °C</td>    </tr>    <tr>      <th>7</th>      <td>First Record:</td>      <td>2nd millennium BC</td>    </tr>    <tr>      <th>8</th>      <td>Recorded By:</td>      <td>Egyptian astronomers</td>    </tr>  </tbody></table>'